.FriendSquare
    width: 60px
    height: 90px
    margin: 20px

.ProfilePicContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 2px solid black
    border-radius: 4px
    width: 60px
    height: 60px


.ProfilePic
    object-fit: contain
    width: 100%
    height: 100%


.NameContainer
    font-size: 14px